.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 20px;
}

.navbar h1 {
    flex-grow: 5;
}

.login {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.login button {
    background-color: inherit;
    border: none;
    color: white;
    font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #f4f4f4;
}

.login button:hover {
    cursor: pointer;
    color: #DCDCDC;
}

.icon {
    position: relative;
}

.icon:hover {
    color: #DCDCDC;
    cursor: pointer;
}

.show {
    display: block;
    position: absolute;
    background-color: white;
    left: 10px;
    top: 100%;
}

.hide {
    display: none;
}

.drawerWrapper {
    background-color: aqua;
}

.drawer {
    width: 200px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 5fr 1fr;
}

.list1 {
    color: #DCDCDC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 22px;
}

.list2 {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.list2::-webkit-scrollbar {
    display: none;
  }

.list3 {
    color: #DCDCDC;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.list3 button {
    background-color: inherit;
    font-family: inherit;
    font-size: 18px;
    color: #DCDCDC;
    padding: 6px;
    border: 3px solid #DCDCDC;
    border-radius: 6px;
}

.list3 button:hover {
    color: white;
    border-color: white;
    cursor: pointer;
}

.navSection {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    gap:5px;
    margin-bottom: 10px;
}

.navSection:hover {
    cursor: pointer;
    color: white;
}

.navCoins {
    font-size: 20px;
}

.navIcons {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}


@media only screen and (max-width: 650px) {
    .navbar {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }
    .navbar > h1 {
        display: none;
    }
}
